apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: eupay

resources:
  - namespace.yaml
  - secret.yaml
  - php-deployment.yaml
  - nginx-deployment.yaml
  - landing-deployment.yaml
  - postgres-statefulset.yaml
  - redis-deployment.yaml
  - php-service.yaml
  - nginx-service.yaml
  - landing-service.yaml
  - postgres-service.yaml
  - redis-service.yaml
  - ingress.yaml
  - cert-issuer.yaml
  - hpa.yaml
  - pdb.yaml
  - networkpolicy.yaml

configMapGenerator:
  - name: eupay-config
    literals:
      - APP_ENV=prod
      - APP_DEBUG=0
      - JWT_TOKEN_TTL=3600
      - HCE_SESSION_KEY_TTL=300
      - DATA_RETENTION_YEARS=5
      - PRIVACY_POLICY_VERSION=1.0.0
      - PSD2_API_BASE_URL=https://api-sandbox.rabobank.nl
      - CARD_ISSUER_API_URL=https://sandbox-api.marqeta.com
      - CORS_ALLOW_ORIGIN=^https://app\.eupay\.eu$
      - PHP_FPM_PM=dynamic
      - PHP_FPM_MAX_CHILDREN=50
      - PHP_FPM_START_SERVERS=5
      - PHP_FPM_MIN_SPARE=5
      - PHP_FPM_MAX_SPARE=35
      - NGINX_WORKER_PROCESSES=auto
      - NGINX_WORKER_CONNECTIONS=1024
      - EUPAY_CREDITOR_ID=NL00ZZZ000000000000

generatorOptions:
  disableNameSuffixHash: true

images:
  - name: ghcr.io/foxoffire33/eu-pay/php
    newTag: sha-44cdf76
  - name: ghcr.io/foxoffire33/eu-pay/nginx
    newTag: sha-44cdf76
  - name: ghcr.io/foxoffire33/eu-pay/landing-page
    newTag: sha-44cdf76

labels:
  - pairs:
      app.kubernetes.io/part-of: eupay
    includeSelectors: false
