apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: eupay

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - php-deployment.yaml
  - nginx-deployment.yaml
  - landing-deployment.yaml
  - postgres-statefulset.yaml
  - redis-deployment.yaml
  - php-service.yaml
  - nginx-service.yaml
  - landing-service.yaml
  - postgres-service.yaml
  - redis-service.yaml
  - ingress.yaml
  - cert-issuer.yaml
  - hpa.yaml
  - pdb.yaml
  - networkpolicy.yaml

labels:
  - pairs:
      app.kubernetes.io/part-of: eupay
    includeSelectors: false
